<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Run, time, run!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C8720251A179ADB00F3EDE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C87203D1A179ADB00F3EDE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C93C3F61A15E06A0012938B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C93C40F1A15E06A0012938B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
